/* THis file control recipe pop-up style */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col {
  flex: 1;
}

.image {
  overflow: hidden;
  width: 80%;
  height: auto;
  border-radius: 30px;
}
.image img {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.image img:hover {
  transform: scale(1.1);
}

.content {
  max-width: 400px;
  text-align: start;
  margin-left: 10%;
}

.small-title {
  color: firebrick;
  font-size: 1.2em;
  font-weight: bold;
}

.big-title {
  color: #634b4f;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.paragraph {
  font-size: 1.2em;
  margin-top: 10px;
}

.buttons {
  margin-top: 35px;
}

.btn:hover {
  background-color: #a04545;
}

.ingredients-outline {
  text-align: left;
}

.ingredients-outline h2 {
  letter-spacing: 1.5px;
  color: #222831;
  font-size: 2em;
  font-weight: bold;
}

.ingredients-outline ul {
  color: #22313f;
  list-style-type: none;
  padding: 0;
}

.ingredients-outline ul li {
  font-size: 1.2em;
  margin-top: 10px;
}
.ingredients-outline ul li::before {
  content: "-  ";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: bisque;
  text-decoration: none;
  min-width: 60px;
  padding: 12px;
  background-color: firebrick;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s, ease 0s;
  border: none;
  z-index: 999;
}

.in-fav {
  background-color: darkgreen !important;
}
.container {
  margin: auto;
  margin-top: 100px;
}

/* Media query for narrow screens */
@media only screen and (max-width: 700px) {
  .row {
    flex-direction: column; /* Stack columns vertically */
  }

  .col {
    width: 100%; /* Each column takes full width */
    margin-bottom: 20px; /* Add some space between columns */
  }
  .content {
    margin-left: 0;
  }
}
