@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.about-area {
  padding-top: 5%;
}

.about-text {
  padding-top: 0%;
}
.about-text h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.about-text p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: black;
  line-height: 1.6;
}
.about-text a {
  background: firebrick;
  color: bisque;
  padding: 7px 15px;
  display: inline-block;
  margin-top: 20px;
}

body {
  background-image: url(/imgs/hp_img.jpg) !important;
}
.container {
  width: 65%;
}
